.p-risco-choose:hover{
    color:red;
    transition:1s;
}

.input-riscos{
    height: 80%;
}

.insertRiscoButton{
    background-color: #003334;
    color:white;
    border:none;
    border-radius: 10px;
    outline:none;
    margin:0rem 0.25rem;
}

.box-info>div{
    margin:1rem 0rem;
}

.general-box {
    border: 1px solid black;
    padding: 0.125rem;
}

.trash{
    width:1rem;
    height:1rem;
}

.topo {
    margin: 0.25rem 0rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.topo>img {
    width: 8rem;
    height: 8rem;
}

.topo>div {
    margin: 0rem 6rem;
}

.topo>div>p {
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(12, 51, 53);
    text-decoration: underline;
}

.section-content {
    margin: 0.25rem 0rem;
}

.row1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    text-align: start;
    margin: 0.25rem 0rem;
}

.row2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    text-align: start;
    margin: 0.25rem 0rem;
}

.row>div {
    margin: 0.25rem 1rem;
}

.input {
    border: 2px solid rgb(12, 51, 53);
    width: 200px;
    vertical-align: middle;
}

/*------------------Riscos-----------------------*/
.new-data-ri{
    text-align: center;
    align-items: center;
    margin:0rem;
    padding:0rem;
}
.box-risco{
    display: flex;
    text-align: center;
    align-items: center;
    margin:0rem;
    padding:0rem;
}
.box-risco-content{
    margin:0rem;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    padding:0rem;
    float:left;
}
.box-risco-content>p{
    padding:0rem 0.1rem;
}
/*------------------------Exames-------------------------*/
.box-exames{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.new-data-ex{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.row-exames{
    display: flex;
    justify-content: center;
    margin:0.5rem 0rem;
}
.row-exames>p{
    margin:0rem 0.75rem;
}
/*---------------------Parecer----------------------*/
.box-parecer{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.new-data-pa{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
/*--------------------Assinaturas------------------------*/
.assinaturas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top:0.5rem;
}
/*----------------------Actions----------------------------*/
.actions{
    display: flex;
    justify-content: center;
    margin:3rem 0rem;
}
.actions>button{
    background-color: #003334;
    color:white;
    width:8rem;
    height: 3rem;
    border:none;
    border-radius: 10px;
    outline:none;
}



